.card{
  background-color: bisque;
  padding: 100px;
  min-width:100px;
}

.outer{
  display:flex;
  flex-wrap: wrap;
}

.square{
  box-sizing: border-box;
  border:solid 2px #9ec34b;
  background-color: #fff;
  flex: 0 0 20%;
  position: relative;
  cursor: pointer;
  border-radius: 4px;
  font-family: "Yu Gothic", YuGothic, Verdana, 'Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
  text-align: center;
  font-size: 50px;
  color: #9ec34b;
  transition: .4s;
}

.square:hover {
  color: #FFF;
  background: #9ec34b;
  border-color: #cbe585;
  
}

.outer .gray{
  background-color: #339933;
  margin-top: 3px;
}

.square::before{
  content: '';
  display: block;
  padding-top:100%;
}

.square div{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.main {
  font-size: 100px;
  height: 150px;
  text-align: center;
}

#history{
  font-size: 30px;
  color: #339933;
  text-align: center;
}

#button {
  display: inline-block;
  text-decoration: none;
  background: #87befd;
  color: #fff;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  box-shadow: 0px 0px 0px 5px #668ad8;
  border: dashed 1px #fff;
  transition: .4s;
  position: relative;
  left: 45%;
}

#button:hover {
  background: #668ad8;
  box-shadow: 0px 0px 0px 5px #668ad8;
}

#button:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

h1 {
  margin: 0 auto;
  text-align: center;
}

h2 {
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
}

